* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}



body, html{
    background: hsla(227, 65%, 83%, 1);
    background: linear-gradient(135deg, hsla(227, 65%, 83%, 1) 25%, hsla(123, 65%, 85%, 1) 65%, hsla(0, 0%, 100%, 1) 94%);
    background: -moz-linear-gradient(135deg, hsla(227, 65%, 83%, 1) 25%, hsla(123, 65%, 85%, 1) 65%, hsla(0, 0%, 100%, 1) 94%);
    background: -webkit-linear-gradient(135deg, hsla(227, 65%, 83%, 1) 25%, hsla(123, 65%, 85%, 1) 65%, hsla(0, 0%, 100%, 1) 94%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B9C5F0", endColorstr="#C2F2C4", GradientType=1 );
}

#canvas_div {
         text-align: center;
         display: block;
         margin-left: auto;
         margin-right: auto;
         }
         canvas {
         border: 2px solid black;
         }

